In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings

raw_path = "/test.csv"
df_raw = pd.read_csv(raw_path)
df = df_raw.copy()
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Identificar Problemas
-valores
ausentes, duplicatas e inconsistências.

In [27]:
print(df.info())
print("\nNulos por coluna:\n", df.isna().sum())
print("\nDuplicados (linhas):", df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB
None

Nulos por coluna:
 PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

Duplicados (linhas): 0

In [28]:
df['Age'] = df['Age'].fillna(df['Age'].mode()[0])
df['Cabin'] = df['Cabin'].fillna(df['Cabin'].mode()[0])
df['Fare'] = df['Fare'].fillna(df['Fare'].mode()[0])

print("\nValores ausentes após imputação:")
print(df.isna().sum())

Valores ausentes após imputação:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [30]:
sex_mapping = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].map(sex_mapping)

embarked_mapping = {'S': 0, 'C': 1, 'Q': 2}
df['Embarked'] = df['Embarked'].map(embarked_mapping)

df['Age'] = df['Age'].astype(int)

print("\nTipos de dados após padronização:")
print(df.info())

print("\nDataFrame após padronização:")
display(df.head())

Tipos de dados após padronização:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          0 non-null      float64
 4   Age          418 non-null    int64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     0 non-null      float64
dtypes: float64(3), int64(5), object(3)
memory usage: 36.1+ KB
None

DataFrame após padronização:

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",NaN,34,0,0,330911,7.8292,B57 B59 B63 B66,NaN
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",NaN,47,1,0,363272,7.0000,B57 B59 B63 B66,NaN
2,894,2,"Myles, Mr. Thomas Francis",NaN,62,0,0,240276,9.6875,B57 B59 B63 B66,NaN
3,895,3,"Wirz, Mr. Albert",NaN,27,0,0,315154,8.6625,B57 B59 B63 B66,NaN
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",NaN,22,1,1,3101298,12.2875,B57 B59 B63 B66,NaN